{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>规格列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->           
            <div class="row">
                <div class="col-sm-12">   
                <div  class="col-sm-3" style="width: 120px">
                    <div class="input-group" >  
                        <a href="{:url('add_standard',['id'=>$id])}"><button class="btn btn-outline btn-primary" type="button">继续添加规格</button></a> 
                    </div>
                    
                </div>  
                <div  class="col-sm-3" style="width: 120px">
                    <div class="input-group" >  
                        <a href="{:url('product/index')}"><button class="btn btn-outline btn-success" type="button">商品列表</button></a> 
                    </div>  
                </div>                                                                
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th>商品名称</th>
                                <th>规格名称</th>
                                <th>价格（元）</th>
                                <th>会员价格（元）</th>
                                <th width="15%">添加时间</th>
                                <th width="15%">更新时间</th>
                                <th width="20%">操作</th>
                            </tr>
                        </thead>
                        <tbody id="article_list">
                            {foreach name="list" item="vo"}
                                <tr class="long-td">
                                    <td>{$vo->product->title}</td>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.price}</td> 
                                    <td>{$vo.member_price}</td>                                
                                    <td>{$vo.create_time}</td>
                                    <td>{$vo.update_time}</td>
                                    <td>
                                        <a href="{:url('edit_standard',['id'=>$vo.id,'pid'=>$id])}" class="btn btn-primary btn-outline btn-xs">
                                            <i class="fa fa-paste"></i> 编辑</a>&nbsp;&nbsp;
                                        <a href="javascript:;" onclick="del_cate({$vo.id})" class="btn btn-danger btn-outline btn-xs">
                                            <i class="fa fa-trash-o"></i> 删除</a>   
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
{include file="public/footer" /}


<script type="text/javascript">

var product_id = "{$id}";
function del_cate(id){
    layer.confirm('确认删除此规格?', {icon: 3, title:'提示'}, function(index){
        //do something
        $.getJSON('./del_standard', {'id' : id ,'pid' : product_id}, function(res){
            if(res.code == 1){
                layer.msg(res.msg,{icon:1,time:1500,shade: 0.1},function(){
                    window.location.href="/admin/product/index_standard?id="+res.pid;
                });               
            }else{
                layer.msg(res.msg,{icon:0,time:1500,shade: 0.1});
            }
        });

        layer.close(index);
    })

}



</script>
</body>
</html>